In [1]:
import pandas as pd

In [12]:
flight_stats = pd.read_csv("number-of-commercial-fli.csv")
chart = pd.read_csv("chart.csv")

# Print a small snippet of the dataset
print("Data gathering starts at: {} and ends at: {}".format(flight_stats.DateTime.min(), flight_stats.DateTime.max()))

print("The dataset contains 90 records, which is what a silver sub allows at flightradar24")

Data gathering starts at: 2020-01-14 and ends at: 2020-04-12
The dataset contains 90 records, which is what a silver sub allows at flightradar24

In [22]:
print("first rows of flight stats: \n")
print(flight_stats.head())
print("last rows of flight stats: \n")
print(flight_stats.tail())

first rows of flight stats:

     DateTime  7-day moving average  Number of flights
0  2020-01-14                110793             111118
1  2020-01-15                111014             113468
2  2020-01-16                111126             116101
3  2020-01-17                111218             118166
4  2020-01-18                111329             102580
last rows of flight stats:

      DateTime  7-day moving average  Number of flights
85  2020-04-08                 31214              32659
86  2020-04-09                 30816              31703
87  2020-04-10                 30167              30129
88  2020-04-11                 29849              24980
89  2020-04-12                 29441              23923

## Eindhoven
- the table below contains data on scheduled and tracked flights coming from Eindhoven airport. I couldn't find a way to download all data at once.

In [9]:
chart.tail()

      DateTime  Scheduled flights  Tracked flights
25  2020-04-08                 11                1
26  2020-04-09                 19                1
27  2020-04-10                 12                3
28  2020-04-11                 16                1
29  2020-04-12                 14                2